<form action="/newReq" method="post" class="requestForm mt-2" onsubmit="return valid()">
    <!-- OIL AMOUNT -->
    <!-- DATE -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">

            </div>
            
            <div class="col-8 pt-5" >
                    <table style="width:100%">
                            <tr>
                              <th>Oil Quantity</th>
                              <th>Amount recieved by FBOs (In RS/L)</th>
                            </tr>
                            <tr>
                              <td>50-100</td>
                              <td>4.0</td>
                            </tr>
                            <tr>
                                <td>100-200</td>
                                <td>4.25</td>
                            </tr>
                            <tr>
                                <td>200-500</td>
                                <td>4.75</td>
                            </tr>
                            <tr>
                                 <td>500-1000</td>
                                <td>5.50</td>
                            </tr>
                            <tr>
                                <td>>1000</td>
                                <td>6.50</td>
                            </tr>
                          </table>
        <div class="row mt-2">
            <div class="col">
                    <input type="number" class="form-control" name="oilAmount" placeholder="Amount of oil (in litre)">
            </div>
        </div>
        <div class="row">
               
            <div class="col text-muted text-left mb-2 pl-4 mt-1">
                (minimum :50L required)
                

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 text-left pl-3">Date of pickup:
            </div>
            <div class="col">
                    <input type="date" class="form-control" name="dateOfPickup">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-right">
                <input type="submit" class="btn btn-info">
            </div>
        </div>
    </div>
    </div>
    </div>
    
</form>