<%- include('partials/header', {title:'Chemical X', pageCSS:"/css/fboUser.css"}) %>

<link rel="stylesheet" href="/css/heading.css">
<h1 class="heading mb-0"><a href="/" class="heading-link">CHEMICAL X</a></h1>


<%- include('partials/footer',{pageJS:"/js/fboUser.js"})%>