<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chemical X</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900,900i|Ubuntu:400,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/heading.css">
</head>

<body>

  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/" style="font-size:4.5em; font-weight:1000">Chemical X</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navi" aria-controls="navi" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navi">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Biodiesel Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
        </div>

      </nav>



      <!-- Title -->

      <div class="row pl-0">
        <div class="col-lg-6 pl-5">
          <div style="margin-top:25%;">
            <div style="font-size:3.5em; font-weight: 800; color:white">Empower Sustainable Development.</div>
            <form method="get">
                <input type="submit" class="btn btn-dark btn-lg" style="margin-top:10%" value="Log in" formaction="/login">
                <input type="submit" class="btn btn-outline-light btn-lg" style="margin-top:10%" value="Sign up" formaction="/signup">
            </form>

          </div>
        </div>



        <div class="col-lg-6 pl-5">
          <img src="images/biodiesel.png" class="ml-5" alt="iphone-mockup" id="iphone">
        </div>
      </div>
    </div>
  </section>



  <!-- Pricing -->

  <section id="pricing">

    <h2>What do we do?</h2>
    <p>We connect you to the process of converting the cooking oil that you've used in your kitchen into fuel.</p>

    <div class="row">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean et tortor at risus viverra adipiscing at. Tristique senectus et netus et. Sem et tortor consequat id porta. Vel pretium lectus quam id leo in vitae. Ornare arcu odio ut sem. Sapien faucibus et molestie ac. Malesuada pellentesque elit eget gravida cum sociis natoque. Eu consequat ac felis donec et. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Tellus elementum sagittis vitae et leo. Neque gravida in fermentum et. Tristique risus nec feugiat in fermentum posuere urna. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Mauris cursus mattis molestie a. Pretium nibh ipsum consequat nisl vel pretium. Posuere urna nec tincidunt praesent semper feugiat nibh. Tristique senectus et netus et malesuada fames ac turpis. Rutrum quisque non tellus orci ac.



    </div>

  </section>





  <!-- Testimonials -->

  <section id="testimonials">


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval = "2000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a>
          <h2 class="testimonial-text">Advaith Biofuels Limited, Hyderabad</h2>
          <img class="testimonial-image" src="images/1stFac.jpeg" >
          <em>Telangana</em>
          </a>
        </div>
        <div class="carousel-item">
            <a>
          <h2 class="testimonial-text">Indian Bioenergy, Bangalore</h2>
          <img class="testimonial-image" src="images/6thFac.jpeg" alt="dog-profile">
          <em>Karnataka</em>
          </a>
        </div>
        <div class="carousel-item">
            <a>
          <h2 class="testimonial-text">Yantra Fintech India Ltd,Naduvakkarai</h2>
          <img class="testimonial-image" src="images/2ndFac.jpeg" >
          <em>Tamil Nadu</em>
          </a>
        </div>
        <div class="carousel-item">
            <a>
          <h2 class="testimonial-text">Muenzer Bharat Private Limited, Mumbai</h2>
          <img class="testimonial-image" src="images/3rdFac.jpeg" alt="dog-profile">
          <em>Maharashtra</em>
          </a>
        </div>
        <div class="carousel-item">
            <a>
          <h2 class="testimonial-text">Monopoly Innovations Private Limited, Khalapur</h2>
          <img class="testimonial-image" src="images/4thFac.jpeg" alt="dog-profile">
          <em>Maharashtra</em>
          </a>
        </div>
        <div class="carousel-item">
            <a>
          <h2 class="testimonial-text">Kaleesuwari Refinery And Industry Private Limited, Kakinada</h2>
          <img class="testimonial-image" src="images/5thFac.jpeg" alt="dog-profile">
          <em>Andhra Pradesh</em>
          </a>
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>







  </section>



  <!-- Features -->

  <section id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <center>
            <h3><i class="fa fa-list-ol fa-3x" aria-hidden="true"></i><br><span id="hell">Tips for Frying</span></h3>
            <p><span id="xyz">Top 5 tips to keep in mind while using cooking oil in your kitchen for frying.</span></p>
          </center>
        </div>
        <div class="col-lg-4">
          <center>
            <h3><a><i class="fa fa-recycle fa-3x" aria-hidden="true"></i></a><br><span id="hell">How to correctly reuse cooking oil</span></h3>
            <p><span id="xyz">We can follow the 3-R principle. Know how.</span></p>
          </center>
        </div>
        <div class="col-lg-4">
          <center>
            <h3><i class="fab fa-pagelines fa-3x" aria-hidden="true"></i><br><span id="hell">Avoid reusing Cooking oil</span></h3>
            <p><span id="xyz">Know why should we not keep reusing cooking oil again and again and start avoiding the same after a point.</span></p>
          </center>
        </div>
      </div>
  </div>
  </section>


  <!-- Call to Action -->

  <section id="cta">

    <h3 class="cta-stat">Isn't it cool that your kitchen waste can run your car!</h3>
    <br>
    <h3 class="cta-stat">Come, be a part of saving our Earth.</h3>
    <form>
        <input type="submit" class="btn btn-dark btn-lg" style="margin-top:7%" value="Log in" formaction="/login">
        <input type="submit" class="btn btn-outline-light btn-lg" style="margin-top:7%" value="Sign up" formaction="/signup">
    </form>
    

  </section>


  <!-- Footer -->

  <footer id="footer">
	<i class="fab fa-twitter social"></i>
	<i class="fab fa-facebook social"></i>
	<i class="fab fa-instagram social"></i>
	<i class="fa fa-envelope social"></i>
	<br>
    <p style="margin-top:1%;">Made with 💖 by Powerpuff Girls.</p>

  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
