.nav-tabs{
    background: #220a37;
}

.nav-link{
    color: #ffffff;
}

.formWrapper{
    text-align: center;
}

.requestForm{
    width:100%;
}

.pendingRequests{
    text-align: center;
    width:100%;
}


.img-accept{
    background:url("/images/checked-green.png") no-repeat; 
    width:20px;
    border:none;
}

.img-reject{
    background:url("/images/close.png") no-repeat; 
    width:20px;
    border:none;
}

footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    text-align: center;
    background: lightgray;
}